@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700&display=swap');


/* General CSS */

* {
    font-family: 'Roboto', sans-serif; 
}

a {
    text-decoration: none;
}

p {
    line-height: 1.7em;
    color: rgb(73, 73, 73);
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 32px;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 28px;
    
}

.services-title {
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #333e47;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
}

.recent-projects-text {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
}

.blue-solid-button {
    color: #ffffff;
    background-color: #333e47;
    border: solid 2px #333e47;
    border-radius: 20px;
    padding: 7px 30px;
}

.blue-solid-button a{
    color:#ffffff;
    text-decoration:none;
}

.white-solid-button {
    color: #333e47;
    background-color: #ffffff;
    border: solid 2px #333e47;
    border-radius: 20px;
    padding: 7px 30px;
}

.white-solid-button a {
    color: #333e47;
    text-decoration: none;
}


/* Main Navigation */

.nav-item {
    font-weight: 700;
    font-size: 13px;
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px;
    
}

.nav-link {
    color: #333e47 !important;
}

.nav-item:hover {
    transition: 0.3s;
    opacity: 0.5;
}

.fab, .fas {
    color: #333e47;
}

.fab:hover, .fas:hover {
    transition: 0.3s;
    opacity: 0.5;
}

.navbar {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    background-color: #ffffff;
}



/* Home Page Header */

.top-row {
    margin-top: 100px;
}

.curve-home {
    border-top-left-radius: 100px;
   
    
}

/* Slick Slider */

.logo-slider {
    max-width: 100%;
}




/* Services */

.services-row {
    padding-bottom: 50px;
}

.services-container {
    background-color: #f2f2f2;
    padding-top: 75px;
    padding-bottom: 100px;
}

.heading-2-styles {
    padding-bottom: 25px;
}

.services-col  {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, .2);
}




.container-inside {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px 40px 20px 40px;
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, .2);
    margin: 35px 0px 35px 0px;
}




/* Process section */

.process {
    padding-top: 100px;
    padding-bottom: 150px;
}

.circles-shortcode {
    visibility: visible;
    position: relative;
    width: 100%;
    display: block;
}


.circle-line-holder {
    position: absolute;
    margin-bottom:-50px;
    left: 80px;
    display: block;
    width: 82%;
    height: 0;
    border-top: 1px dotted;
    border-color: #000000;
    content: "";
    top: 74px;
}



.circle-outer {
    width: 25%;
    position: relative;
    float: left;
}

.circle-inner {
    width: 158px;
    height: 158px;
    border-color: rgb(218, 218, 218);
    border-width: 2px;
    background-color: rgb(247, 247, 247);
    position: relative;
    display: block;
    max-width: 100%;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    padding: 9px;
    border: 1px solid #afafaf;
    border-radius: 50%;
    box-sizing: border-box;
    background-size: cover!important;
}

.circle-inner2 {
    
    background-size: cover!important;
    position: relative;
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    
}


.text-in-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 100;
    -webkit-transition: -webkit-transform .22s ease-in-out,opacity .2s ease-in-out;
    transition: transform .22s ease-in-out,opacity .2s ease-in-out;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: 700;
}


.image-with-text {
    display: inline-block;
    width: 100%;
    position: relative;
    background-size: cover!important;
}


.circle-text-holder {
    display: block;
    text-align: center;
    margin: 24px 0 0;
    padding: 0 10px;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 40px;
}


/* Recent projects */





.recent-projects-image {
    background-size:cover;
    padding-top:50px;
    padding-bottom:200px;
    
    
}

.recent-projects-image:hover, .recent-projects-image:focus {
    opacity: 0.8;
    transition: 0.5s;
    
}



/* badge container */

.badge-container {
    width: 60%;
    padding-top: 100px;
    padding-bottom: 100px;
}

footer {
    background-color: #333e47;

}

footer p {
    color: #ffffff;
    font-weight: 300;
}


.footer-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-heading {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 500;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #b2b2b2;
    transition: 0.2s;
}

footer ul {
    list-style-type: none;
    padding-left: 0px;
}

footer li {
    padding-bottom: 10px;
    font-weight: 300;
}


footer .fas {
    color: #ffffff;
    padding-right: 20px;
}

.fas-transparent {
    color: #333e47;
    padding-right: 28px;
}

.fine-print {
    font-size: 12px;
}

hr {
    color: #ffffff;
}


/* About Page */

.top-header-box {
    margin-top: 50px;
    margin-bottom: 50px;
}

.blue-box {
    background-image:
            linear-gradient(to bottom, rgba(51,62,71, 0.7), rgba(51,62,71, 0.7)),
            url('banner.png');
            background-size: cover;
            background-position: center center;
}

.white-heading {
    padding-top: 100px;
    padding-bottom: 20px;
}

.breadcrumbs a {
    color: #ffffff;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.breadcrumbs a:hover {
    color: #b2b2b2;
    transition: 0.2s;
}

.breadcrumbs {
    padding-bottom: 50px;
}

.experts {
    padding-top: 50px;
}



.counter-value{
    color: #666;
    background: #fff;
    font-size: 33px;
    font-weight: 600;
    text-align: right;
    line-height: 60px;
    width: 90%;
    height: 50px;
    padding: 0 15px;
    margin: 0 0 0 -20px;
    display: block;
}


.number {
    font-size: 40px;
    font-weight: 700;
    color: #7ca6bb;
}

.numbers {
    padding-top: 50px;
    padding-bottom: 50px;
}

.bio {
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
}


.title-name {
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 28px;
}

.leadership-name {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 20px;
}





.map {
    padding-top: 100px;
    padding-bottom: 100px;
}



.locations-list li {
    padding-bottom: 10px;
}




.padding-bottom {
    padding-bottom: 100px;
}


.service-box-nav {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 50px;
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, .2);
    margin-bottom: 30px;
}

.service-box-nav h3 {
    padding-top: 20px;
}

.service-box-nav:hover {
    background-color: #f2f2f2;
    transition: 0.5s;
}


.services-nav {
    padding-top: 50px;
    padding-bottom: 0px;
}


.error {
   margin-bottom: 100px;
}

.error .far {
    color: #333e47;
    font-size: 200px;
    margin-top: 100px;
    margin-bottom: 50px;
}


.error-text {
    color: #333e47;
    font-size: 100px;
}


.error-text-2 {
    font-family: 'Roboto', sans-serif; 
    color: #6c6c6c;
    margin-bottom:50px;
}

.contact-gray {
    padding-top: 50px;
    padding-bottom: 100px;
    margin-bottom: 100px;
    background-color: #f2f2f2;
}

.info-top {
    margin-top: 50px;
}

.info-bottom {
    margin-top: 50px;
}

.featured-image {
    border-radius: 25px;
}

.project-description {
    padding-top:  100px;
    padding-bottom: 100px;
}

.project-sum {
    font-size: 20px;
    font-weight: 300;
}


.gray {
    background-color: #f2f2f2;
}

.project-para-gray {
    margin-top: 40px;   
}

.white-solid-button-contact {
    color: #333e47;
    border: solid 2px #333e47;
    border-radius: 20px;
    padding: 5px 50px;
    margin-top: 10px;
}


.contact-form {
    display: flex;
    width: 100%;
    padding-right: 50px;
    flex-direction: column;
}


.form-group {
    width: 100%;
    margin-top: 20px;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.199);
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
}

/*

#status {
    width: 90%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    border-radius: 5px;
}

#status.success {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
}

#status.error {
    background-color: rgb(250, 129, 92);
    color: #ffffff;
    animation: status 4s ease forwards;
}

@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}

*/
